<!DOCTYPE html>
<html>
    <head>
        <title>
            Drag & Drop Uploading
        </title>
    </head>
<body>
    <div id="uploads"></div>
    <div class="dropzone" id="dropzone">Drop files here to upload</div>
  </body>
  <style>
    body{
      font-family: "Arial", sans-serif;
    }

    .dropzone {
      width:300px;
      height:300px;
      border:2px dashed #ccc;
      color: #ccc;
      line-height:300px;
      text-align: center;
    }

    .dropzone.dragover {
      border-color: #000;
      color:#000;
    }
  </style>
  <script>
    (function(){
      console.log('Test.');
      var dropzone = document.getElementById('dropzone');

      dropzone.ondrop = function(e){
        e.preventDefault();
        this.className = 'dropzone';
        console.log(e.dataTransfer.files);

      };


      dropzone.ondragover = function() {
        this.className = 'dropzone dragover'
        return false;
      };

      dropzone.ondragleave = function() {
        this.className = 'dropzone'
        return false;
      };
    }());



  </script>
</html>
